<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user["nickname"]}}的主页</title>
</head>
<body>
    <img alt="头像" src="{{user['headimgurl']}}">
    <table>
        <tr>
            <th>openid</th>
            <th>{{user["openid"]}}</th>
        </tr>
        <tr>
            <th>昵称</th>
            <th>{{user["nickname"]}}</th>
        </tr>
        <tr>
            <th>性别</th>
            <td>
                {%if 1== user["sex"]%}
                男
                {%elif 2 ==user["sex"]}
                女
                {%else%}
                未知
                {%endif%}
            </td>
        </tr>
        <tr>
            <th>省份</th>
            <th>{{user["province"]}}</th>
        </tr>
        <tr>
            <td>城市</td>
            <td>{{user["city"]}}</td>
        </tr>
        <tr>
            <td>国家</td>
            <td>{{user["country"]}}</td>
        </tr>
    </table>
</body>
</html>